{% extends 'index.html' %}
{% load static %}

{% block title %}Transliteratsiya qilish{% endblock %}
{% block content %}
<h1>Transliteratsiya qilish</h1>
<p>Lotinchadan kirilchaga, kirilchadan lotinchaga transliteratsiya qilish hizmati</p><br><br>
<div class="input-group mb-3">
    <form style="width: 90%;" action="" method="get">{% csrf_token %}
        <textarea required name="query" class="form-control" placeholder="Matn kiriting..." aria-label="Recipient's username" aria-describedby="button-addon2">{{ data.text }}</textarea>
        <br><button class="btn btn-outline-secondary" type="submit" id="button-addon2">Transliteratsiya</button>
    </form>
</div>
<br><br>
{% if data.text %}
    <table class="table table-dark table-striped">
        <tr>
            <th>Lotincha</th>
            <th>Kirilcha</th>
        </tr>
        <tr>
            <td><code>{{ data.latin }}</code></td>
            <td><code>{{ data.kiril }}</code></td>
        </tr>
    </table>
{% endif %}
{% endblock content %}
